doctype html
head
  title U-FARM
  link(rel='stylesheet' type='text/css' href='../css/style.css')
  form(method="POST" action='/landingPage')
nav.zone.blue.sticky
  ul.main-nav
    li U-FARM
    li
      a(href='') HOME
    li
      a(href='') ABOUT
    li
      a(href='/ufuploadList') PRODUCTS
    li.push
      a(href='/login') Login
.container
  img.cover(src='../img/ufarm.jpg')
  .coverText
    h1 Bringing the Market place closer to you!
.zone.blue.grid-wrapper
  .card.zone
    img(src='../img/apples.jpg')
    .text
      h1 Fresh Apples
      p
      hr
      a(href='/ufuploadList') Click here to view Product Details
      hr
  .card.zone
    img(src='../img/tomatoes.jpg')
    .text
      h1 Fresh Tomatoes
      p
      hr
      a(href='/ufuploadList') Click here to view Product Details 
      hr
  .card.zone
    img(src='../img/tangerines.jpg')
    .text
      h1 Tangerines
      p 
      hr
      a(href='/ufuploadList') Click here to view Product Details
      hr
  .card.zone
    img(src='../img/tamarind.jpg')
    .text
      h1 Tamarind
      p 
      hr
      a(href='/ufuploadList') Click here to view Product Details
      hr
  .card.zone
    img(src='../img/potatoes.jpg')
    .text
      h1 Potatoes
      p 
      hr
      a(href='/ufuploadList') Click here to view Product Details
      hr
  .card.zone
    img(src='../img/mangoes.jpg')
    .text
      h1 Fresh Mangoes
      p 
      hr
      a(href='/ufuploadList') Click here to view Product Details
      hr
  .card.zone
    img(src='../img/avocado.jpg')
    .text
      h1 Avocado
      p 
      hr
      a(href='/ufuploadList') Click here to view Product Details
      hr
  .card.zone
    img(src='../img/bananas.jpg')
    .text
      h1 Bananas
      p 
      hr
      a(href='/ufuploadList') Click here to view Product Details
      hr
  .card.zone
    img(src='../img/cabbages.jpg')
    .text
      h1 Cabbages
      p 
      hr
      a(href='/ufuploadList') Click here to view Product Details
      hr
  .card.zone
    img(src='../img/jackfruit.jpg')
    .text
      h1 Jackfruit
      p 
      hr
      a(href='/ufuploadList') Click here to view Product Details
      hr
  .card.zone
    img(src='../img/org.jpg')
    .text
      h1 Mixed Vegetables
      p 
      hr
      a(href='/ufuploadList') Click here to view Product Details
      hr
  .card.zone
    img(src='../img/nonorg.jpg')
    .text
      h1 Mixed Vegetables
      p 
      hr
      a(href='/ufuploadList') Click here to view Product Details
      hr
  .card.zone
    img(src='../img/vegetables.jpg')
    .text
      h1 Mixed vegetables
      p
      hr 
      a(href='/ufuploadList') Click here to view Product Details
      hr
  .card.zone
    img(src='../img/greenpepper.jpg')
    .text
      h1 Greenpepper
      p 
      hr
      a(href='/ufuploadList') Click here to view Product Details
      hr
  .card.zone
    img(src='../img/oranges.jpg')
    .text
      h1 Fresh Oranges
      p 
      hr
      a(href='/ufuploadList') Click here to view Product Details
      hr
footer.zone
  p @Sarah 2020
