extends layout
block content
    header.card-header
        h4.card-title Welcome
    div.form-row
        div.col.form-group.col-md-12   
            div.form-row
                div.col-md-10
                    p Here is your information #{user.name}
                div.col-md-2                  
    form(method="post" action="/updateao_fo?id="+user._id)
        table.table
            thead.thead-dark
                tr
                    th Activities
                    td 
                        select.form-control(value = user.activities name ="activities")                        
                            option(value="Horticulture") Horticulture
                            option(value="Poutry") Poultry farming
                            option(value="Dairy") Dairy farming
                tr
                    th Phone No.
                    td 
                        input.form-control(value = user.phone name ="phone")                  
                tr
                    td(colspan=2)
                        button.btn.btn-dark.btn-block(type="submit") Update

                            
